<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoEjaCast</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoEjaCast.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <picture>
            @* <source media="(max-width: 768px)" srcset="/img/banner4.png">
            <source media="(max-width: 1200px)" srcset="/img/banner3.png"> *@
            <img src="/img/banner2.png" alt="Banner do site">
        </picture>
        <nav class="navbar-principal">
            <div class="box-btn">
                <a class="btn-navbar btn-inicio" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    Início
                </a>
            </div>
            <div class="box-btn">
                <a class="btn-navbar btn-episodios" asp-controller="Home" asp-action="Episodios">
                    <i class="fa-solid fa-circle-play"></i>
                    Episódios
                </a>
            </div>
            <div class="box-btn">
                <a class="btn-navbar btn-sobre" type="button" asp-action="SobreNos" asp-controller="Home">
                    <i class="fa-solid fa-users"></i>
                    Sobre nós
                </a> 
            </div>
            <div class="box-btn">
                <a class="btn-navbar btn-dev" asp-controller="Home" asp-action="Desenvolvedores">
                    <i class="fa-solid fa-code"></i>
                    Desenvolvedores
                </a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-junino">
        <div class="footer-bandeirinhas"></div>
        <div class="footer-conteudo">
            <h3>🌽 EJA Cast 🌽</h3>
            <p>
                Educação, cultura e conhecimento compartilhados através de histórias,
                entrevistas e experiências que valorizam o aprendizado.
            </p>
            <div class="footer-copy">
                © 2026 ... - Todos os direitos reservados.
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js" integrity="sha512-6BTOlkauINO65nLhXhthZMtepgJSghyimIalb+crKRPhvhmsCdnIuGcVbR5/aQY2A+260iC1OPy1oCdB6pSSwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
