@{
    ViewData["Title"] = "Desenvolvedores";
}

<link rel="stylesheet" href="~/css/desenvolvedores.css" asp-append-version="true" />

<section class="dev-container">

    <div class="dev-header">
        <h1>💻 Desenvolvedores</h1>
        <p>
            Conheça os integrantes responsáveis pelo desenvolvimento do Projeto EJA Cast.
        </p>
    </div>

    <div class="dev-grid">
        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 1">
            <h3>Aluno 1</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 2">
            <h3>Aluno 2</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 3">
            <h3>Aluno 3</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 4">
            <h3>Aluno 4</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 5">
            <h3>Aluno 5</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 6">
            <h3>Aluno 6</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 7">
            <h3>Aluno 7</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 8">
            <h3>Aluno 8</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 9">
            <h3>Aluno 9</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 10">
            <h3>Aluno 10</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 11">
            <h3>Aluno 11</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 12">
            <h3>Aluno 12</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 13">
            <h3>Aluno 13</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 14">
            <h3>Aluno 14</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno.jpg" alt="Aluno 15">
            <h3>Aluno 15</h3>
            <span>Desenvolvedor(a)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

</section>