@{
    ViewData["Title"] = "Desenvolvedores";
}

<link rel="stylesheet" href="~/css/desenvolvedores.css" asp-append-version="true" />

<section class="dev-container">

    <div class="dev-header">
        <h1>💻 Desenvolvedores</h1>
        <p>
            Conheça os integrantes responsáveis pelo desenvolvimento do Projeto EJA Cast.
        </p>
    </div>

    <div class="dev-grid">
        <div class="dev-card">
            <img src="/img/Abel.jpg" alt="Aluno 1">
            <h3>Abel</h3>
            <span>Desenvolvedor(a)</span>
            <p>
                Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.
            </p>
        </div>

        <div class="dev-card">
            <img src="/img/Carlos.jpg" alt="Aluno 2">
            <h3>Brayan Carlos</h3>
            <span>Desenvolvedor(a)</span>
            <p> Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno-sem-foto.jpg" alt="Aluno 3">
            <h3>Dadja Laiza</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/diana.jpg" alt="Aluno 4">
            <h3>Diana Lilian</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/Gabriel.jpeg" alt="Aluno 5">
            <h3>Gabriel Jose</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/santos.jpg" alt="Aluno 6">
            <h3>Henan Almeida</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/Iasmim.jpg" alt="Aluno 7">
            <h3>Iasmim Emilly</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/Igor Barbosa.jpeg" alt="Aluno 8">
            <h3>Igor Gabriel</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/iranildo.webp" alt="Aluno 9">
            <h3>Iranildo Constantino</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno-sem-foto.jpg" alt="Aluno 10">
            <h3>Jônatas Mendes</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/milena.jpg" alt="Aluno 11">
            <h3>Milena Alminda</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno-sem-foto.jpg" alt="Aluno 12">
            <h3>Miqueias Joaquim</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/pedro.jpg" alt="Aluno 13">
            <h3>Pedro Henrique</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/aluno-sem-foto.jpg" alt="Aluno 14">
            <h3>Thaíque Jenniffer</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/wendell.png" alt="Aluno 15">
            <h3>Wendell Karlos</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>

        <div class="dev-card">
            <img src="/img/wandson.jpg" alt="Aluno 15">
            <h3>Wandson Ferreira</h3>
            <span>Desenvolvedor(a)</span>
            <p>Integrante da equipe de desenvolvimento, colaborando na criação de soluções inovadoras e no crescimento contínuo do projeto.</p>
        </div>
    </div>

</section>