@{
    ViewData["Title"] = "Episódios";
}
<link rel="stylesheet" href="~/css/episodidos.css" asp-append-version="true" />
<section class="episodios-container">

    <div class="bandeirinhas"></div>

    <div class="titulo-area">
        <h1>🌽 Episódios do Arraiá 🌽</h1>
        <p>🔥 Arraiá do EJA Cast: cultura, aprendizado e muita animação! 🔥</p>
    </div>

    <div class="videos-grid">

        <div class="video-card">
            <h2>🎬 Episódio 1.1 - O São João Mudou?</h2>
            <iframe src="https://www.youtube.com/embed/bvAxX8Lm6O4"
                    title="Episódio 1"
                    allowfullscreen>
            </iframe>
        </div>

        <div class="video-card">
            <h2>🎬 Episódio 1.2 - O São João Mudou?</h2>
            <iframe src="https://www.youtube.com/embed/odiAFV0GBu4" 
                    title="Episódio 1"
                    allowfullscreen>
            </iframe>
        </div>

        <div class="video-card">
            <h2>🎬 Episódio 2 - O forró e o sertanejo</h2>
            <iframe src="https://www.youtube.com/embed/oL8mtZnXYo4"
                    title="Episódio 3"
                    allowfullscreen>
            </iframe>
        </div>

        <div class="video-card">
            <h2>🎬 Episódio 3 - A cultura nordestina</h2>
            <iframe src="https://www.youtube.com/embed/o4wY__pI7j4"
                    title="Episódio 4"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</section>