@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Esse é meu youtube 
    <br />
    <br />
    <a href="https://www.youtube.com">Acesse aqui!!!</a>
</p>
<p>Um outro texto 2</p>
